.header {
  display: flex;
  align-items: center;
  background-color: #313c63;
  padding: 1rem;
}
.titulo-principal {
  flex: 1;
  color: #e1e1e1;
  text-align: center;
  font-size: 1.3rem;
}
.icono-historial {
  color: #e1e1e1;
  font-size: 1.5rem;
}
nav {
  text-align: right;
}
@media (min-width: 768px) {
  .titulo-principal {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .titulo-principal {
    padding-left: 2rem;
    font-size: 1.8rem;
  }
}
