.cotizar-button {
  display: inline-flex;
  background-color: #344378;
  color: #fff;
  width: 60%;
  margin: 1rem auto 0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agrega un efecto de sombra */
  transition: transform 0.3s;
}
.cotizar-button:hover {
  background-color: #243a82;
}

.cotizar-button:active {
  transform: translateY(
    4px
  ); /* Realiza una traslación más pronunciada hacia abajo */
  box-shadow: none; /* Elimina la sombra al hacer clic */
}

@media (min-width: 768px) {
  .cotizar-button {
    font-size: 1.4rem;
    width: 45%;
  }
}
